.message {
    font-size: 0.9em;
    margin-left: 10px;
    align-self: flex-start;
    white-space: pre-line;
}

.message.success {
    color: #237f09;
}

.message.error {
    color: #f72828;
}

.delete-btn {
  opacity: 0;
}

ul li:hover .delete-btn {
  opacity: 1;
}

.center-header {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.center-header h2 {
  margin: 0;
}