name: Backend CI

on:
  workflow_dispatch:
  push:
    branches: [ "main", "dev" ]
    paths:
      - "backend/**"
  pull_request:
    branches: [ "main", "dev" ]
    paths:
      - "backend/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Run tests
        env:
          # Add anything your tests need, or leave empty for now
          DJANGO_SETTINGS_MODULE: backend.settings
        run: |
          cd backend
          python manage.py test # change to "test" when tests are added otherwise "check" to avoid failure